<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8ed5b40a-c87b-4ad6-80e0-101a22e54c8f" Alias="dasdasd" Level="2">
  <Info>
    <Name>dasdasd</Name>
    <Icon>icon-notepad</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions />
    <DefaultTemplate>dasdasd</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="1432eecc-79cf-4730-981e-2ede1bb487ff">dasdasd</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>